<div class="row">
    <div class="col-lg-12">
        <h2>Tabla de Productos</h2>
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Producto</th>
                        <th>Stock</th>
                        <th>Precio</th>
                        <th>Ver detalle</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="product in products">
                        <td>{{product.id}}</td>
                        <td>{{product.name | snakeCase : ' ---- '}}</td>
                        <td>{{product.stock}}</td>
                        <td>{{product.price | currency}}</td>
                        <td> <a ng-click="edit(product)">Editar</a></td>
                        <td> <a ng-click="remove(product.id)">Eliminar</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>