<div class="row">
    <div class="col-lg-12">
        <h2>Tabla de Productos</h2>
        <div class="table-responsive">
            <table class="table table-bordered table-hover" my-table edit-fc="editProduct" remove-fc="removeProduct" rows="products">  
            </table>
        </div>
        <h2>Tabla de Clientes</h2>
        <div class="table-responsive">
            <table class="table table-bordered table-hover" my-table edit-fc="editClient" remove-fc="removeClient" rows="clients">  
            </table>
        </div>
    </div>
</div>
<div>
    <div my-directive person="person1" on-click-handler="showAlert()"></div>
    <div my-directive person="person2"></div>
</div>